// Place all the styles related to the art_objects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
     font-size: 16px;
}
body {
	font-size: 62.5%; /* 1em = 10px */
}
.navbar {
	background: #B22222;

	.navbar-brand {
		color: white;
		font-weight: bolder;
		font-size: 1.5em;
		font-family: 'Playfair Display SC', serif;
	}

	.navbar-toggle {
		border: 1px solid white;

		.icon-bar {
			background: white;
		}
	}

	.nav {
		border-top: 1px solid black;
		padding: 0;
		li {
			&:nth-child(even) {
				background: #B22222;
			}
			&:nth-child(odd) {
				background: url(image-path('marble-bg.png'));
				a {
					color: black;
				}
			}
			a {
				color: white;
				font-weight: bolder;
			}
      a:hover {
        color: #B22222;
        font-weight: bolder;
      }
		}
	}
}

.fa-search {
	font-size: 2em;
	padding-top: 0.3em;
	color:white;
}
input[type=search] {
	font-size: 1.5em;
	margin-top: 0.3em
}

.first-section {
	height: 55em;
	.h1-tag {
		background: url(image-path('marble-bg.png'));
		border-top: 2px solid #dbdbdb;
		border-bottom: 2px solid #dbdbdb;
		h1 {
			padding: 0;
			margin: 0 0 1em 0;
			font-size: 1.8em;
			text-align: center;
			font-family: 'Playfair Display SC', serif;
		}
	}
}

.headroom {
    transition: transform 500ms linear;
}
.headroom--pinned {
    transform: translateY(0%) !important;
}
.headroom--unpinned {
    transform: translateY(120%) !important;
}

.object-list {
	margin-top: 2em;
	background: #f7f7f7;
	border-top: 2px solid #dbdbdb;
	border-bottom: 2px solid #dbdbdb;
	img {
		width: 4em;
		height: 4em;
	}

}

.show-section {
  img {
    width: 100%;
  }
  h4 {
    text-align: center;
    font-size: 1.2em;
  }
  height: 120vh;
  .voteable {
    font-size: 1.8em;
    text-align: center;
  }
  button {
    margin: 0.5em 0 0.5em 0;
    font-size: 1em;
    width: 5em;
  }
  .total_votes {
    padding: 0.8em;
  }
}

.green {
  color:green !important;
}

.red {
  color: red !important;
}

.twitter {
  color: #66B6F1;
  font-size: 3em;
  text-align: center;
  margin: auto !important; 
  background: #efefef;
  width: 3em;
  border-radius: 0.2em;
}
@media all and  (max-width: 767px) {
  .nav li {
    width: 100%;
  }
}